{% extends 'layouts/index.html' %}

{% block content %}
    <style type="text/css">
        .posts {
            margin-top: 20px;
            width: 80%;
            margin-left: 10%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    </style>
    <div class="posts">
    <form action="/posts/" method="get">
        <input type="text" name="search">
        <input type="submit" value="Search">
    </form>
        {% for post in posts %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Rate: {{ post.rate }}</h6>
                    {% for hashtag in post.hashtags.all %}
                        <p>{{ hashtag.title }}</p>
                    {% endfor %}
                    <a href="/posts/{{ post.id }}/" class="card-link">More</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div>
    <div class="pages" style="display: flex; justify-content: center;">
        {% for page in pages %}
            <a href="/posts/?page={{ page }}">
                <button>{{ page }}</button>
            </a>
        {% endfor %}
    </div>
{% endblock %}